.app-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff1db;
  color: #262f31;
  padding: 8px;
  border-radius: 10px;
  margin-right: 408px;
  margin-top: -16px;
  font-size: 12px;
  width: max-content;
  border: 1px solid #f2dfc5;

  & h1 {
    margin: 0;
  }
}
.app-name-wrapper.centered {
  margin-right: 55px;
}
.app-name-text {
  padding-right: 25px;
}
#read-more-about.MuiButton-root {
  min-width: 72px;
  padding: 0 10px;
  text-transform: none;
}
#read-more-about.MuiButton-containedPrimary {
  background-color: #eee;
  color: #222;
}
/* -------- APPNAME NOT SHOWN IN MOBILE. STYLES REMOVED FOR NOW --------- */
/* @media only screen and (max-width: 768px) {
  #app-name-snackbar {
    z-index: 190;
  }
  .app-name-wrapper {
    margin-right: 0;
    margin-top: 45px;
    width: 100vw;
  }
  .app-name-text {
    padding-right: 35px;
  }
} */
