.sort_chooser_container {
  text-align: center;
}

.sort_chooser_container h4 {
  font-size: 12pt;
  font-weight: normal;
  margin: 10px;
}

.filterobject {
  display: inline-block;
  padding: 5px;
  font-size: 10pt;
}

.filterobject input {
  vertical-align: top;
}

.sort_chooser_container select {
  min-width: 200px;
  border-radius: 3px;
  padding: 5px;
}

.tags {
  background: lightgrey;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 8pt;
  display: inline-block;
  border-radius: 3px;
  margin: 2px;
}

.toggle {
  margin: 10px;
  font-size: 10pt;
  text-align: center;
  color: gray;
}

.toggle span {
  padding: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border-radius: inherit;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid gray;
}

input:checked + .slider {
  border-color: black;
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px blue;
}

/* The ball */
.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  top: 1px;
  background: gray;
}

input:checked + .slider:before {
  background-color: white;
  left: auto;
  right: 2px;
}
