/**** CSS for Kartlagfanen og alle dens underkomponenter *****/

/* --------------------------------------------------------------------------------- */
/* ---------------------- NEW INFOBOX COMPONENT ON THE SIDE ------------------------ */
/* --------------------------------------------------------------------------------- */

/* Topp-anker for infoboksen på side som justeres i forhold til Kartlagfanens bredde */
.infobox-container-side {
  position: absolute;
  height: 100%;
  left: -350px;
  top: 0px;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #eeeeee;
}
.infobox-container-side.infobox-open {
  left: 0px;
  top: 0px;
}
@media only screen and (max-width: 768px) {
  .infobox-container-side {
    --h: 0px;
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    height: calc(var(--h, 0px));
    width: 100vw;
    z-index: 200;
  }
  .infobox-container-side.infobox-open {
    top: auto;
    bottom: 0;
    height: calc(40vh + var(--h, 0px));
    z-index: 200;
  }
  .infobox-container-side.infobox-fullscreen {
    top: auto;
    bottom: 0;
    height: calc(100% + var(--h, 0px));
    z-index: 225;
  }
}

/* Main container infobox side panel */
.infobox-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #eee;
  max-height: 100vh;
  overflow-y: auto;
  height: calc(100% - 61px);
  padding-bottom: 40px;
}
.all-layer-results-side {
  max-height: 400px;
}
.infobox-side,
.all-laye-results-side {
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.infobox-side.show-details {
  height: 100%;
  overflow-y: hidden;
}

/* Infobox title */
.infobox-title-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #697f8a;
  color: white;
  width: 100%;
  flex-shrink: 0;
}
.infobox-title-content {
  display: flex;
  justify-content: flex-start;
  padding: 18px 0 15px 10px;
  max-width: calc(100% - 51px);
  width: calc(100% - 51px);
}
@media only screen and (max-width: 768px) {
  .infobox-title-content {
    padding-top: 26px;
  }
}
.infobox-title-text {
  margin-left: 10px;
  text-align: left;
  max-width: calc(100% - 51px);
  width: calc(100% - 51px);
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.infobox-title-text-primary {
  font-size: 20px;
  font-weight: 550;
}
.infobox-title-text-secondary {
  font-size: 16px;
  text-transform: capitalize;
}

#infobox-drag-icon {
  padding: 0;
  position: absolute;
  top: 0;
  right: calc(50vw - 15px);
  background: transparent;
  border: none;
}
#infobox-drag-icon:focus {
  outline: none;
}

/* -------- Close infobox button --------- */
.close-infobox-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  width: 0;
  margin: 30px 29px 23px 22px;
  padding: 0;
  background-color: rgba(145, 163, 176, 0);
  border: none;
  border-radius: 10px;
  transition: background-color 0.2s, width 0.2s, height 0.2s, margin 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-infobox-button-wrapper:hover {
  background-color: rgba(145, 163, 176, 0);
}
.close-infobox-button-wrapper:focus {
  background-color: rgba(145, 163, 176, 1);
  outline: none;
  height: 46px;
  width: 44px;
  margin: 7px 7px 0 0;
}
.close-infobox-button {
  padding: 0;
  display: flex;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  height: 28px;
  width: 28px;
}
.close-infobox-button:hover {
  background-color: rgba(145, 163, 176, 1);
}
@media only screen and (max-width: 768px) {
  .close-infobox-button-wrapper {
    z-index: 205;
    margin: 38px 29px 23px 22px;
  }
  .close-infobox-button-wrapper:focus {
    margin: 15px 7px 0 0;
  }
  .close-infobox-button {
    z-index: 205;
    position: absolute;
    top: 24px;
    right: 15px;
  }
  #infobox-minimize {
    transform: rotate(-90deg);
  }
}

/* Selected point description */
.infobox-content-hidden {
  display: none;
}
.infobox-content {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 8px 10px;
  flex-shrink: 0;
  min-height: 110px;
  width: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  .infobox-content {
    padding: 12px 10px 4px 10px;
  }
}
#infobox-main-content-button.MuiListItem-root {
  padding: 0;
}
.infobox-text-wrapper {
  display: flex;
  align-items: flex-start;
  text-transform: capitalize;
  padding-bottom: 5px;
  font-size: 16px;
}
.infobox-text-wrapper svg {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 10px;
  height: 20px;
  color: grey;
}
.infobox-text-multiple {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.infobox-text-primary {
  margin-top: 1px;
  text-align: left;
}
.infobox-text-secondary {
  color: grey;
  font-size: 14px;
  margin-top: 2px;
  text-align: left;
}
.infobox-text-tertyary {
  color: grey;
  font-size: 14px;
  margin-top: 2px;
  text-align: left;
  text-transform: lowercase;
}

/* Infobox expander content and toggles */
.infobox-options-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  padding: 5px;
}
.infobox-options-listitem-wrapper {
  background-color: rgba(145, 163, 176, 0.5);
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.infobox-options-listitem-wrapper-closed {
  background-color: rgba(145, 163, 176, 0.5);
  border-top: 1px solid #aaa;
}
.infobox-switch-container {
  display: flex;
  align-items: center;
  padding-left: 4px;
}
.infobox-switch-title {
  font-size: 16px;
  text-align: left;
  padding: 10px 5px 3px 12px;
}
.infobox-switch-text {
  padding-left: 5px;
  font-size: 16px;
}
.polygon-options-listitem-wrapper {
  background-color: rgba(145, 163, 176, 0.75);
  border-bottom: 1px solid #999;
}
.polygon-options-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  background-color: rgba(145, 163, 176, 0.2);
  border-bottom: 1px solid #aaa;
  padding: 0 5px 5px 5px;
}
#select-polygon-collapse {
  flex-shrink: 0;
}
.infobox-radio-buttons-title {
  font-size: 16px;
  text-align: left;
  padding: 15px 5px 3px 12px;
}
.infobox-radio-buttons-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 4px;
}
#infobox-radio-label .MuiTypography-body1 {
  font-size: 15px;
  padding-left: 5px;
}

/* List with selected layers */
.detailed-info-container-side {
  background-color: #eee;
}
.layer-results-scrollable-side {
  display: inline-block;
  width: 100%;
}
.layer-results-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#layer-results-header {
  border-top: 3px solid grey;
  border-bottom: 1px solid grey;
}
#layer-results-header.MuiListItem-root {
  padding-top: 4px;
  padding-bottom: 4px;
}
#layer-results-header.MuiListItem-gutters {
  padding-left: 12px;
}
#layer-results-header .MuiListItemIcon-root {
  min-width: 56px;
}
#layers-results-list {
  padding-top: 0;
}
#generic-element-list.MuiListItem-root {
  padding-right: 2px;
}

@media only screen and (max-width: 768px) {
  .infobox-side,
  .layer-results-side {
    margin-top: 0;
    width: 100%;
  }
  .layer-results-scrollable-side {
    display: inline-block;
    overflow-y: auto;
    width: 100%;
  }
}

/* Progress bar */
.layer-results-scrollable-loader {
  height: 20px;
  display: flex;
  align-items: center;
}
.MuiLinearProgress-barColorPrimary {
  background-color: #1976d2 !important;
}

/* List icons */
.infobox-list-icon-wrapper > .MuiCircularProgress-root {
  margin-right: 25px;
}
#infobox-list-icon {
  margin: 0;
}
#show-faktaark-button.MuiIconButton-root {
  padding: 10px;
}
#show-faktaark-button-sublag.MuiIconButton-root {
  padding: 10px;
  max-height: 44px;
}
#open-facts-icon-layer.MuiSvgIcon-colorPrimary {
  color: #777;
}
#open-facts-icon-sublayer.MuiSvgIcon-colorPrimary {
  color: #697f8a;
}
.infobox-list-icon-wrapper .MuiBadge-root .MuiBadge-colorError {
  background-color: #cc0000;
}
.infobox-list-icon-wrapper .MuiBadge-root .MuiBadge-colorPrimary {
  background-color: #22aa58;
}
.infobox-list-icon-wrapper .MuiBadge-root .MuiBadge-colorSecondary {
  background-color: #999;
}

/* list items in info box */
.generic-element-secondary-text {
  display: block;
  font-size: 11pt;
  color: #6d6d6d;
}
.generic-element-data-owner {
  display: block;
  font-size: 10pt;
  color: grey;
}
.layer-results-scrollable-side
  > .MuiList-root
  > .layers-results-subheaders
  > .generic_element
  > .MuiListItem-root {
  padding: 0 12px;
}

@media only screen and (max-width: 768px) {
  .generic-element-primary-text {
    font-size: 11pt;
    margin: 1px 0 !important;
  }
  .generic-element-secondary-text {
    font-size: 10.5pt;
    margin: 1px 0 !important;
  }
  .generic-element-data-owner {
    font-size: 9.5pt;
    margin: 1px 0 !important;
  }
  .layer-results-scrollable-side
    > .MuiList-root
    > .layers-results-subheaders
    > .generic_element
    > .MuiListItem-root
    > .MuiListItemIcon-root {
    min-width: 45px;
  }
}

/* Infobox search layers toggle */
.show-property-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px 0px 18px;
  flex-shrink: 0;
}
@media only screen and (max-width: 768px) {
  .show-property-button-wrapper {
    padding: 0 10px 0px 18px;
  }
}

.search-layers-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.search_layers:focus {
  border: 2px solid blue;
}
.search-layers-switch-text-selected {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}
.search-layers-switch-text {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.55);
}

/* ----------- Sorted layers extra components ------------ */
.layers-results-subheaders {
  text-align: left;
}
.layers-results-subheaders .MuiListSubheader-root {
  background-color: rgb(222, 222, 222);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 17px;
}
.layers-results-subheaders .MuiListItem-root {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Felt øverst et åpnet underelement  */
.infobox-text {
  font-size: 16px;
  display: block;
  text-transform: capitalize;
  text-align: left;
  margin: 5px 0;
}
.infobox-text:first-child svg {
  vertical-align: sub;
}

@media only screen and (max-width: 768px) {
  .infobox-text {
    max-width: calc(100% - 40px);
    font-size: 13px;
  }
}

/* Underelementets innhold  */
.generic_element {
  background-color: #eee;
}
.generic_element .MuiCollapse-container {
  background-color: #fff;
  margin: 0 !important;
  padding-top: 2px;
}
.generic_element div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 500px;
}
.generic_element .MuiButtonBase-root {
  margin-top: 0;
  margin-bottom: 0;
}

/* Facts information buttons */
#open-facts-info-button.MuiIconButton-colorPrimary {
  color: #666;
}

/* Facts information modal */
.facts-modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.facts-modal-buttons-div {
  display: flex;
}

.facts-modal-wrapper {
  background-color: white;
  width: 60vw;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  max-height: 95vh;
  overflow-y: auto;
}
@media only screen and (max-width: 768px) {
  .facts-modal-wrapper {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.facts-modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #697f8a;
  color: white;
  font-size: 26px;
  font-weight: bold;
  padding-left: 25px;
}
@media only screen and (max-width: 768px) {
  .facts-modal-title {
    font-size: 24px;
  }
}

.facts-modal-content {
  border: 0;
  width: 100%;
  min-height: 75vh;
  max-height: 100%;
  position: relative;
  overflow: none;
}
@media only screen and (max-width: 768px) {
  .facts-modal-content {
    min-height: 100%;
  }
}

/* Facts information modal - open in new window button */
#infobox-detail-facts.MuiButton-root {
  text-transform: none;
  margin: 19px 10px;
}
#infobox-detail-facts.MuiButton-root:hover {
  background-color: rgba(145, 163, 176, 1);
}
#infobox-detail-facts.MuiButton-outlinedPrimary {
  color: white;
  border-color: white;
}
@media only screen and (max-width: 768px) {
  #infobox-detail-facts.MuiButton-root {
    margin: 16px 10px;
  }
}

/* ---------- Details panel in infobox ---------- */
.infobox-details-container {
  height: 100%;
  background: rgb(250, 250, 250);
  overflow-y: auto;
}
/* Title */
#infobox-details-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(145, 163, 176, 0.5);
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #aaa;
}
@media only screen and (max-width: 768px) {
  #infobox-details-title-wrapper {
    height: 45px;
    border-top: 1px solid #aaa;
  }
}
#infobox-details-title-wrapper:hover {
  background-color: rgba(145, 163, 176, 0.7);
}
#infobox-details-title-wrapper.MuiListItem-gutters {
  padding-left: 12px;
  padding-right: 12px;
}
#infobox-details-title-wrapper .MuiListItemIcon-root {
  min-width: 35px;
}
#infobox-details-title-wrapper.MuiListItem-root.Mui-focusVisible {
  background-color: rgba(145, 163, 176, 0.8);
}
.infobox-details-title-text {
  margin-left: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.64);
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .infobox-details-title-text {
    font-size: 16px;
  }
}

/* Layer info */
#infobox-details-layer {
  background-color: #ddd;
  border-bottom: 1px solid #aaa;
}
#infobox-details-layer.MuiListItem-gutters {
  padding-left: 12px;
  padding-right: 5px;
}
#infobox-details-layer.MuiListItem-root {
  padding-top: 4px;
  padding-bottom: 4px;
}
#faktaark-kartlag-layer-item {
  background-color: #eee;
  border-bottom: 1px solid #bbb;
}
#faktaark-kartlag-layer-item.MuiListItem-gutters {
  padding-left: 12px;
}
#faktaark-kartlag-layer-item:hover,
#faktaark-kartlag-layer-item.MuiListItem-root.Mui-focusVisible {
  background-color: #ccc;
}
#faktaark-kartlag-sublayer-item.MuiListItem-gutters {
  padding-left: 12px;
}
#faktaark-kartlag-sublayer-item.MuiListItem-root {
  padding-top: 0;
  padding-bottom: 0;
}
#faktaark-kartlag-sublayer-item .MuiListItemText-root .MuiTypography-body1 {
  font-size: 15px;
  text-decoration: underline;
  color: #697f8a;
}
#faktaark-kartlag-sublayer-item:hover,
#faktaark-kartlag-sublayer-item.MuiListItem-root.Mui-focusVisible {
  background-color: #ddd;
}

/* Content */
.infobox-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  width: 100%;
}
.infobox-details-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: rgba(0, 0, 0, 0.75);
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.infobox-details-content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px;
  color: rgba(0, 0, 0, 0.75);
  width: 100%;
}
.infobox-details-content-faktaark {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 12px 6px 12px;
  color: rgba(0, 0, 0, 0.75);
  width: 100%;
}
.infobox-details-title {
  font-weight: 500;
  margin-bottom: 2px;
  text-align: left;
}
.infobox-details-content {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.infobox-details-primary-title {
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  text-align: left;
  margin-right: 5px;
}
.infobox-details-primary-text {
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  margin-bottom: 2px;
  text-align: left;
}
.infobox-details-secondary-title {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  text-align: left;
  margin-right: 5px;
}
.infobox-details-secondary-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  text-align: left;
}

/* ---------- Polygon infobox --------- */
.container_header {
  background: #eee;
  margin: 0px;
  font-weight: 400;
  padding-left: 16px;
}
h4.container_header {
  border-top: 1px solid #ccc;
  text-align: left;
  border-bottom: none;
  padding-left: 20px;
}
/* Polygon drawing tool */
.polygon-tool-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-shrink: 0;
  padding: 14px 15px 14px 14px;
  border-bottom: 1px solid #aaa;
  background: rgba(145, 163, 176, 0.5);
}
.polygon-tool-wrapper.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 14px 14px;
}
.polygon-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.polygon-tool-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.polygon-tool-label.vertical {
  padding-bottom: 8px;
  align-self: flex-start;
}
.infobox-text-wrapper-polygon {
  display: flex;
  align-items: flex-start;
  padding-bottom: 5px;
  font-size: 16px;
}
.infobox-text-wrapper-polygon-last {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
}
.infobox-text-wrapper-polygon-last svg,
.infobox-text-wrapper-polygon svg {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 10px;
  height: 20px;
  color: grey;
}
.detailed-info-container-polygon {
  background-color: #eee;
}
#polygon-results-header {
  border-top: 3px solid grey;
  border-bottom: 1px solid grey;
}
#polygon-results-header.MuiListItem-root {
  padding-top: 8px;
  padding-bottom: 8px;
}
#polygon-results-header.MuiListItem-gutters {
  padding-left: 12px;
}
#polygon-results-header .MuiListItemIcon-root {
  min-width: 56px;
}
.geometry-tool-button {
  margin-left: 8px;
}
.geometry-tool-button.first-tool {
  margin: 0;
}

/* ------ POLYGON LAYERS ITEM LIST --------- */
.polygon-details-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 0 10px 0;
  color: rgba(0, 0, 0, 0.75);
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.polygon-details-content-wrapper-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 12px;
  color: rgba(0, 0, 0, 0.75);
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.polygon-layers-wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-items: center;
  border-top: 1px solid #aaa;
  flex-shrink: 0;
}
#polygon-layer-expander,
#polygon-layer-disabled {
  background: rgba(145, 163, 176, 0.3);
  border-bottom: 1px solid #aaa;
  flex-shrink: 0;
}
#polygon-layer-disabled {
  color: #777;
}
#polygon-layer-expander:hover,
#polygon-layer-disabled:hover {
  background: rgba(145, 163, 176, 0.5);
}
#polygon-layer-expander.Mui-focusVisible,
#polygon-layer-disabled.Mui-focusVisible {
  background: rgba(145, 163, 176, 0.5);
}
#polygon-layer-expander.MuiListItem-gutters,
#polygon-layer-disabled.MuiListItem-gutters {
  padding-left: 14px;
}

/* ---------- POLYGON LAYERS COLLAPSE ------------- */
#polygon-layers-collapse {
  flex-shrink: 0;
  padding-bottom: 15px;
  background: rgba(145, 163, 176, 0.2);
}
/* .polygon-layers-content {
  background: rgba(145, 163, 176, 0.2);
} */
.polygon-checkbox-content {
  padding: 10px 10px 8px 14px;
}
/* .polygon-button-wrapper {
  padding-bottom: 15px;
} */
.polygon-layers-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.polygon-layers-item .MuiIconButton-root {
  padding: 5px;
}
.polygon-layers-disabled {
  color: #999;
}

/* --------- POLYGON WARNINGS --------- */
.polygon-report-warning {
  color: #697f8a;
  font-size: 15px;
  padding: 10px 10px 0 10px;
}
.polygon-report-warning-content {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: rgba(105, 127, 138, 0.15);
  border-radius: 10px;
  border: 1px solid #697f8a;
}
.polygon-report-warning-text {
  text-align: left;
  padding-left: 15px;
  font-weight: 550;
}

/* ------- POLYGON RESULT LIST --------- */
#polygon-element-list.MuiListItem-root {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
}
@media only screen and (max-width: 768px) {
  #polygon-element-list.MuiListItem-root {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

/* ------- POLYGON DETAILS --------- */
.polygon-details-text-wrapper {
  display: flex;
  align-items: flex-start;
  padding-left: 12px;
  padding-right: 12px;
}
.polygon-details-text-wrapper.space-between {
  justify-content: space-between;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}
.polygon-details-title {
  font-weight: 500;
  margin-bottom: 4px;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
}
.polygon-details-primary-text {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  margin-bottom: 3px;
  text-align: left;
  line-height: 14px;
  margin-left: 8px;
  margin-top: 1.5px;
}
.polygon-details-primary-text.no-title {
  margin-left: 0;
}
.polygon-details-secondary-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  text-align: left;
}
.polygon-details-secondary-text.end-line {
  margin-left: 8px;
}

/* Polygon details desription */
.polygon-details-description-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  padding: 2px 0 6px 0;
  width: 100%;
}
.polygon-details-description-wrapper-open {
  margin-top: 4px;
  padding: 2px 12px 6px 0;
  width: 100%;
}
.polygon-details-description-wrapper-fixed {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  padding: 0 0 10px 0;
  width: 100%;
}
.polygon-details-description-wrapper-open:focus,
.polygon-details-description-wrapper:focus {
  outline: none;
}
.polygon-details-description-wrapper-open:hover,
.polygon-details-description-wrapper:hover {
  cursor: pointer;
  background-color: #ddd;
}
.polygon-details-description-wrapper-open:focus-visible,
.polygon-details-description-wrapper:focus-visible {
  outline: none;
  background-color: #ddd;
}
.polygon-details-description-text-open,
.polygon-details-description-text {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  padding: 0 0 0 12px;
}
.polygon-details-description-text {
  width: calc(100% - 85px);
  max-width: calc(100% - 85px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 768px) {
  .polygon-details-description-text {
    width: calc(100vw - 75px);
    max-width: calc(100vw - 75px);
  }
}
.polygon-details-description-text-fixed {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  padding: 0 0 0 12px;
}
.polygon-details-description-link-open,
.polygon-details-description-link {
  color: #697f8a;
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  padding: 0 12px 0 12px;
  text-decoration: underline;
  white-space: nowrap;
}
.polygon-details-description-link-open {
  margin-top: 3px;
}

/* ---------- General transitions -----------  */
.infobox-animation {
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 768px) {
  .infobox-animation {
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
