/**** CSS for Kartlagfanen og alle dens underkomponenter *****/

/* Topp-anker for infoboksen som justeres i forhold til Kartlagfanens bredde */
.infobox_container {
  position: absolute;
  top: 0px;
  width: calc(100% - 408px);
  padding: 10px;
  height: 1px;
}

@media only screen and (max-width: 768px) {
  .infobox_container {
    width: 100%;
  }
}

/* Infoboksen og Søk i alle lag-boksen */
.infobox {
  z-index: 150;
  max-height: 600px;
}
.all_layer_results {
  max-height: 400px;
}
.infobox,
.all_layer_results {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  background: #eeeeee;
  text-align: center;
  padding: 10px;
  border: 1px solid #666;
}

.window_scrollable {
  max-height: 290px;
}
.all_layer_results_scrollable {
  max-height: 320px;
}
.window_scrollable,
.all_layer_results_scrollable {
  display: inline-block;
  overflow-y: auto;
  width: 100%;
}

.all_layer_results {
  margin-top: 135px;
  z-index: 200;
}

@media only screen and (max-width: 768px) {
  .infobox,
  .all_layer_results {
    margin-top: 0;
    width: 100%;
    max-height: calc(50vh - 20px);
  }
  .all_layer_results {
    min-height: 50px;
  }

  .window_scrollable,
  .all_layer_results_scrollable {
    display: inline-block;
    overflow-y: auto;
    width: 100%;
  }
  .window_scrollable {
    max-height: calc(50vh - 230px);
  }
  .all_layer_results_scrollable {
    max-height: calc(50vh - 90px);
  }
}

/* list items in info box */
/* .generic-element-primary-text {
  display: block;
  font-size: 12pt;
  color: #6d6d6d;
}
.generic-element-data-owner {
  display: block;
  font-size: 10pt;
  color: grey;
} */
.window_scrollable > .generic_element > .MuiListItem-root {
  padding: 0 16px;
}
.all_layer_results_scrollable
  > .MuiList-root
  > .generic_element
  > .MuiListItem-root {
  padding: 0 16px;
}

@media only screen and (max-width: 768px) {
  /* .generic-element-secondary-text {
    font-size: 11pt;
    margin: 1px 0 !important;
  }
  .generic-element-primary-text {
    font-size: 11pt;
    margin: 1px 0 !important;
  }
  .generic-element-data-owner {
    font-size: 9.5pt;
    margin: 1px 0 !important;
  } */
  .window_scrollable
    > .generic_element
    > .MuiListItem-root
    > .MuiListItemIcon-root {
    min-width: 45px;
  }
  .all_layer_results_scrollable
    > .MuiList-root
    > .generic_element
    > .MuiListItem-root
    > .MuiListItemIcon-root {
    min-width: 45px;
  }
}

/* Overskriften */
.infotitle svg {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5px;
  height: 18px;

  color: grey;
}

.coordinates {
  color: grey;
  padding: 15px 0 10px 0;
}
@media only screen and (max-width: 768px) {
  .coordinates {
    padding: 10px 0 10px 0;
  }
}

/* Knapper i boksene  */
.close_button {
  text-align: center;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}

.close_button:focus {
  border: 2px solid blue;
}

/* åpne ekstra info knapp */
.search_layers:focus {
  border: 2px solid blue;
}

/* Underelementets innhold  */
.generic_element div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 500px;
}

/* Felt øverst et åpnet underelement  */
.expand_header {
  float: left;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.expand_header button {
  margin: auto;
}

.text_type {
  font-size: 10pt;
  display: block;
  text-transform: capitalize;
}

.text_type:first-child {
  font-size: 14pt;
  margin-bottom: 6px;
}

.text_type:first-child svg {
  vertical-align: sub;
}

@media only screen and (max-width: 768px) {
  .text_type:first-child {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .text_type {
    max-width: calc(100% - 40px);
    font-size: 13px;
  }
}

/* --------------------------------------------------------------------------------- */
/* ---------------------- NEW INFOBOX COMPONENT ON THE SIDE ------------------------ */
/* --------------------------------------------------------------------------------- */

/* Topp-anker for infoboksen på side som justeres i forhold til Kartlagfanens bredde */
.infobox-container-side {
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* background: white; */
  background: #eeeeee;
}

@media only screen and (max-width: 768px) {
  .infobox-container-side {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 250;
  }
}

/* Main container infobox side panel */
.infobox-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 600px;
  background-color: #eee;
}
.all-layer-results-side {
  max-height: 400px;
}
.infobox-side,
.all-laye-results-side {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

/* Infobox title */
.infobox-title-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #697f8a;
  color: white;
  padding: 18px 15px 15px 10px;
}
.infobox-title-content {
  display: flex;
  justify-content: flex-start;
}
.infobox-title-text {
  margin-left: 10px;
  text-align: left;
}
.infobox-title-text-primary {
  font-size: 20px;
  font-weight: 550;
  text-transform: capitalize;
}
.infobox-title-text-secondary {
  font-size: 16px;
  text-transform: capitalize;
}
.close-infobox-button {
  padding: 0;
  display: flex;
  background-color: #697f8a;
  color: white;
  border: 2px solid white;
  margin-left: 10px;
}
.close-infobox-button:hover {
  padding: 0;
  display: flex;
  background-color: #415762;
  color: white;
}
.close-infobox-button:focus {
  background-color: #415762;
  border-color: blue;
}

/* Selected point description */
.infobox-content {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
}
.infobox-text-wrapper {
  display: flex;
  align-items: flex-start;
  text-transform: capitalize;
  padding-bottom: 5px;
  font-size: 16px;
}
.infobox-text-wrapper svg {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 10px;
  height: 20px;
  color: grey;
}
.infobox-text-multiple {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.infobox-text-primary {
  margin-top: 1px;
}
.infobox-text-secondary {
  color: grey;
  font-size: 14px;
  margin-top: 2px;
}

/* List with selected layers */
.detailed-info-container-side {
  background-color: #eee;
}
.layer-results-scrollable-side {
  max-height: calc(100vh - 360px);
  display: inline-block;
  overflow-y: auto;
  width: 100%;
  padding: 0 5px;
}
.layer-results-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#layer-results-header {
  border-top: 3px solid grey;
  border-bottom: 1px solid grey;
}

@media only screen and (max-width: 768px) {
  .infobox-side,
  .layer-results-side {
    margin-top: 0;
    width: 100%;
    max-height: calc(55vh - 40px);
  }
  .layer-results-scrollable-side {
    display: inline-block;
    overflow-y: auto;
    width: 100%;
    max-height: calc(100vh - 300px);
  }
}

/* list items in info box */
.generic-element-primary-text {
  display: block;
  font-size: 12pt;
  color: #6d6d6d;
}
.generic-element-data-owner {
  display: block;
  font-size: 10pt;
  color: grey;
}
.layer-results-scrollable-side
  > .MuiList-root
  > .generic_element
  > .MuiListItem-root {
  padding: 0 16px;
}

@media only screen and (max-width: 768px) {
  .generic-element-secondary-text {
    font-size: 11pt;
    margin: 1px 0 !important;
  }
  .generic-element-primary-text {
    font-size: 11pt;
    margin: 1px 0 !important;
  }
  .generic-element-data-owner {
    font-size: 9.5pt;
    margin: 1px 0 !important;
  }
  .layer-results-scrollable-side
    > .MuiList-root
    > .generic_element
    > .MuiListItem-root
    > .MuiListItemIcon-root {
    min-width: 45px;
  }
}

/* Knapper i boksene  */
.close_button {
  text-align: center;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}

.close_button:focus {
  border: 2px solid blue;
}

/* åpne ekstra info knapp */
.search-layers-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px 10px 18px;
}
.search_layers:focus {
  border: 2px solid blue;
}
.infobox-switch-text {
  font-size: 14px;
}

/* Underelementets innhold  */
.generic_element div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 500px;
}

/* Felt øverst et åpnet underelement  */
.expand_header {
  float: left;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.expand_header button {
  margin: auto;
}

.infobox-text {
  font-size: 16px;
  display: block;
  text-transform: capitalize;
  text-align: left;
  margin: 5px 0;
}

/* .infobox-text:first-child {
  font-size: 14pt;
  margin-bottom: 6px;
} */

.infobox-text:first-child svg {
  vertical-align: sub;
}

@media only screen and (max-width: 768px) {
  /* .infobox-text:first-child {
    font-size: 15px;
    margin-bottom: 5px;
  } */

  .infobox-text {
    max-width: calc(100% - 40px);
    font-size: 13px;
  }
}
