/**** CSS for Kartlagfanen og alle dens underkomponenter *****/

/* ----------- Main component of kartlag panel ------------ */
.kartlag_fanen {
  display: block;
  position: absolute;
  height: 100%;
  top: 0px;
  right: -408px;
  width: 408px;
  padding-top: 50px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.kartlag_fanen.side-bar-open {
  display: block;
  right: 0;
}
.kartlag-hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .kartlag_fanen {
    --h: 0px;
    border-top: 1px solid lightgrey;
    top: auto;
    bottom: 0;
    padding-top: 0;
    background-color: #eee;
    z-index: 100;
    height: calc(var(--h, 0px));
    overflow-y: hidden;
    width: 100%;
    right: 0;
  }
  .kartlag_fanen.side-bar-open {
    height: calc(45vh + var(--h, 0px));
    width: 100%;
  }
  .kartlag_fanen.side-bar-fullscreen {
    height: calc(100% - 50px + var(--h, 0px));
    width: 100%;
  }
  .kartlag-hidden {
    display: block;
  }
}

.scroll_area {
  background: #eee;
  max-height: calc(100% - 48px);
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 48px);
}

@media only screen and (max-width: 768px) {
  .scroll_area {
    height: calc(50vh);
    padding-bottom: 75px;
  }
  .scroll_area.side-bar-fullscreen {
    height: calc(100vh);
    padding-bottom: 75px;
  }
}

/* Overskriftene i panelet */
.container_header {
  background: #eee;
  margin: 0px;
  font-weight: 400;
  padding-left: 16px;
}

/* Overskrift på grupperte element*/
h4.container_header {
  border-top: 1px solid #ccc;
  text-align: left;
  border-bottom: none;
  padding-left: 20px;
}

/* ---------- Search results panel ---------- */
.valgtLag {
  background-color: white;
}
@media only screen and (max-width: 768px) {
  .valgtLag {
    margin: 0;
    padding: 0;
    background-color: white;
    z-index: 175;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
/* Go back component used in search results */
/* Tittelboksen bruker Listitems fra Material-Ui, uten endringer */
.listheadingbutton {
  border-radius: 0px;
  border: 0px;
  width: 100%;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12pt;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  background-color: rgba(145, 163, 176, 0.6);
}
.listheadingbutton.all-results {
  padding-left: 10px;
}
.listheadingbutton:hover {
  background-color: rgba(145, 163, 176, 0.9);
}
.listheadingbutton:focus {
  background-color: rgba(145, 163, 176, 0.9);
  outline: none;
}
.listheadingbutton-icon {
  height: 24px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  color: rgba(0, 0, 0, 0.64);
}
.listheadingbutton-icon.all-results {
  min-width: 40px;
}
.listheadingbutton-text {
  color: rgba(0, 0, 0, 0.64);
  font-size: 17px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
@media only screen and (max-width: 768px) {
  .listheadingbutton {
    margin-top: 35px;
  }
  .listheadingbutton.all-results {
    margin-top: 0;
  }
}

/* --------- Side bar show/hide button desktop ---------- */
.toggle-side-bar-wrapper {
  position: absolute;
  top: 60px;
  right: 0px;
}
.toggle-side-bar-wrapper.side-bar-open {
  right: 407px;
}
#toggle-side-bar-button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid grey;
  border-right: 0;
  width: 32px !important;
  min-width: 32px;
  max-width: 32px;
  height: 55px;
  padding: 0;
}
.toggle-side-bar-button:focus {
  border: 2px solid blue;
}
@media only screen and (max-width: 768px) {
  .toggle-side-bar-wrapper {
    display: none;
  }
}

/* -------- Side bar show/hide button mobile --------- */
.toggle-kartlag-wrapper {
  display: none;
}
#toggle-kartlag-button {
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid grey;
  border-bottom: 0;
  height: 40px;
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  padding: 0;
  background-color: white;
  border: 0;
  -webkit-transition: height 0.5s, box-shadow 0.5s, background-color 0.5s;
  -moz-transition: height 0.5s, box-shadow 0.5s, background-color 0.5s;
  -ms-transition: height 0.5s, box-shadow 0.5s, background-color 0.5s;
  -o-transition: height 0.5s, box-shadow 0.5s, background-color 0.5s;
  transition: height 0.5s, box-shadow 0.5s, background-color 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -2px 0px 1px -1px rgba(0, 0, 0, 0.2),
    -1px 0px 1px 0px rgba(0, 0, 0, 0.14), -1px 0px 3px 0px rgba(0, 0, 0, 0.12);
}
#toggle-kartlag-button:focus {
  outline: none;
}
@media only screen and (max-width: 768px) {
  .toggle-kartlag-wrapper {
    --h: 0px;
    border-radius: 4px;
    position: absolute;
    display: block;
    top: auto;
    bottom: calc(-34px + var(--h, 0px));
    z-index: 99;
    right: calc(50vw - 35px);
    width: 70px;
    height: 73px;
  }
  .toggle-kartlag-wrapper.side-bar-open {
    top: auto;
    bottom: calc(45vh - 74px + var(--h, 0px));
    right: 100px;
    width: calc(100% - 100px);
    height: 73px;
    z-index: 105;
  }
  .toggle-kartlag-wrapper.side-bar-fullscreen {
    top: auto;
    bottom: calc(100% - 50px - 74px + var(--h, 0px));
    right: 100px;
    width: calc(100% - 100px);
    height: 73px;
    z-index: 105;
  }
  .toggle-kartlag-wrapper.side-bar-open #toggle-kartlag-button,
  .toggle-kartlag-wrapper.side-bar-fullscreen #toggle-kartlag-button {
    border: 0;
    box-shadow: none;
    margin-left: calc(50vw - 35px);
    height: 35px;
  }
  .toggle-kartlag-wrapper.side-bar-open.popup-visible {
    bottom: calc(45vh - 35px + var(--h, 0px));
    right: 0;
    width: calc(100%);
    height: 35px;
  }
  .toggle-kartlag-wrapper.side-bar-fullscreen.popup-visible {
    bottom: calc(100% - 50px - 35px + var(--h, 0px));
    right: 0;
    width: calc(100%);
    height: 35px;
  }
  .toggle-kartlag-wrapper.side-bar-open.popup-visible #toggle-kartlag-button,
  .toggle-kartlag-wrapper.side-bar-fullscreen.popup-visible
    #toggle-kartlag-button {
    background-color: transparent;
    height: 35px;
  }
}

#show-layers-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------- Sorted layers extra components ------------ */
.sorted-layers-subheaders .MuiListSubheader-root {
  background-color: #dedede;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 17px;
}
.sorted-layers-subheaders .MuiListItem-root {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* ---------- Sortering, filtrering og søk -delen ---------- */
.header-layers-menu {
  background-color: white;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.sort-filter-layers-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 4px 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.sort-filter-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-tags-wrapper {
  padding: 5px 16px 10px 16px;
  background-color: white;
}
.selected-tags-tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#filters-header.MuiTypography-root {
  padding-bottom: 5px;
}
#filter-all-button.MuiButton-root {
  text-transform: none;
}
#filter-all-button.MuiButton-textPrimary {
  color: #296d98;
  font-weight: 500;
}
#filter-all-button.MuiButton-textSecondary {
  color: #888;
}
#filter-layers-menu-item {
  width: 385px;
  max-width: calc(100vw - 30px);
}
@media only screen and (max-width: 768px) {
  #filter-layers-menu-item {
    width: 285px;
  }
}
#filter-layers-menu-item.MuiListItem-gutters {
  padding-left: 14px;
  padding-right: 22px;
}
#filter-layers-menu-item .MuiListItemText-root {
  white-space: normal;
}
#filter-layers-menu-icon.MuiListItemIcon-root {
  min-width: 35px;
  max-width: 35px;
}
#sort-layers-menu-item.MuiListItem-gutters {
  padding-left: 25px;
  padding-right: 25px;
}
#layers-filter-chips.MuiChip-colorPrimary {
  background-color: #697f8a;
}

/* ---------- Leyend link ---------- */
.legend-link-background {
  background-color: #eee;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 74px;
  z-index: 10;
}
.legend-link-wrapper {
  background-color: rgba(145, 163, 176, 0.5);
}
#legend-icon.layer-icon-wrapper {
  margin-left: 4px;
}
.legend-text {
  color: rgba(0, 0, 0, 0.64);
  font-size: 17px;
  font-weight: 500;
}

/* ----------- Legend menu ------------- */
.legend-wrapper {
  background-color: #fff;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .legend-wrapper {
    padding-top: 35px;
  }
}
#legend-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(145, 163, 176, 0.5);
  width: 100%;
  height: 50px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
#legend-title-wrapper:focus {
  background-color: rgba(145, 163, 176, 0.8);
}
#legend-title-wrapper:hover {
  background-color: rgba(145, 163, 176, 0.8);
}
#legend-title-wrapper.MuiListItem-root.Mui-focusVisible {
  background-color: rgba(145, 163, 176, 0.8);
}
#legend-title-wrapper .MuiListItemIcon-root {
  min-width: 35px;
}
.legend-title-text {
  margin-left: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.64);
  font-weight: 500;
}
#back-from-legend.MuiIconButton-colorPrimary {
  color: rgba(0, 0, 0, 0.64);
}
.legend-content-wrapper .MuiListSubheader-root {
  max-height: 40px;
  color: #000;
}
.legend-content-wrapper {
  padding: 0 24px 24px 24px;
  height: calc(100% - 50px);
  overflow-y: auto;
}

/* -------- Layers and sublayers wrappers ---------- */
@media only screen and (max-width: 768px) {
  #layers-list-wrapper {
    padding-bottom: 75px;
  }
}
#layers-list-wrapper.MuiList-padding {
  padding-top: 0;
}

/* Open sublayer elements  */
.collapsed_container {
  background: white;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.collapsed_container h4 {
  margin-bottom: 5px;
  display: block;
  font-size: 8pt;
  width: 100%;
  font-weight: normal;
}
.tags {
  background: lightgrey;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 8pt;
  display: inline-block;
  border-radius: 3px;
  margin: 2px;
}
.tags_container {
  text-align: center;
}
.iconbutton:hover {
  opacity: 50%;
  cursor: pointer;
}

/* ----------- Sublayers: main menu ------------ */
.collapsed_container .underlag {
  width: 100%;
  background: rgb(252, 252, 252);
  border-bottom: 1px solid #e2e2e2;
  display: block;
  text-align: left;
}

.underlag div:first-child {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.underlag svg {
  padding-right: 15px;
  vertical-align: middle;
}

.polygonbutton {
  padding: 5px;
  margin-left: 2px;
  font-size: 12pt;
}

.polygonbutton svg {
  vertical-align: middle;
  height: 20px;
}

.polygonbutton.done {
  background: #baf2b3;
}

.polygonbutton.remove {
  background: #ffd3cf;
}

.polygonbutton.edit {
  background: #d5f1f5;
}

.polygonbutton:focus {
  border: 2px solid blue;
}

/* Layer icons */
.layer-list-element-icon {
  padding: 8px 0 8px 5px;
}
#list-element-sublayer {
  padding-top: 2px;
  padding-bottom: 2px;
}
.badge-enabled > .MuiBadge-colorPrimary {
  background-color: #22aa58 !important;
}
#bookmark.layer-icon-wrapper {
  margin-bottom: 2px;
}
#bookmark-icon.MuiListItemIcon-root {
  justify-content: flex-end;
}

/* --------- Layer and sublayer details component ---------- */
.layer-details-div {
  max-height: 100%;
  height: 100%;
  /* overflow-y: auto; */
  background-color: white;
  z-index: 100;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 408px;
  padding-top: 50px;
}
@media only screen and (max-width: 768px) {
  .layer-details-div {
    width: 100vw;
    padding-top: 35px;
  }
}

/* Sublayer details title */
#details-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(145, 163, 176, 0.5);
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #aaa;
}
@media only screen and (max-width: 768px) {
  #details-title-wrapper {
    height: 45px;
    border-top: 1px solid #aaa;
  }
}

/* Sublayer details title */
.details-content-wrapper {
  height: 100%;
  overflow-y: auto;
}
#layer-details-list {
  background-color: #ddd;
  border-bottom: 1px solid #bbb;
}
#sublayer-details-list {
  background-color: #eee;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #bbb;
}
.sublayer-details-div {
  background: white;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  width: 100%;
}
.sublayer-details-div h4 {
  margin-bottom: 5px;
  display: block;
  font-size: 10pt;
  width: 100%;
  font-weight: normal;
}
.data-owner-wrapper {
  padding-top: 10px;
}
.sublayer-details-wrapper {
  background-color: white;
  padding: 10px 14px 15px 34px;
}
@media only screen and (max-width: 768px) {
  .sublayer-details-wrapper {
    padding-bottom: 150px;
  }
}

/* Sublayer opacity sliders */
.opacity-slider-wrapper {
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 0 0 5px 0 !important;
}
.opacity-slider-wrapper .MuiSlider-colorPrimary {
  color: #22aa58;
}
#opacity-invisible-icon.MuiSvgIcon-colorPrimary {
  color: #ccc;
}
#opacity-visible-icon-disabled.MuiSvgIcon-colorPrimary {
  color: #ccc;
}
#opacity-visible-icon.MuiSvgIcon-colorPrimary {
  color: #666;
}

#details-title-wrapper .MuiListItemIcon-root {
  min-width: 35px;
}
#details-title-wrapper.MuiListItem-root.Mui-focusVisible {
  background-color: rgba(145, 163, 176, 0.8);
}

.details-title-text {
  margin-left: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.64);
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .details-title-text {
    font-size: 16px;
  }
}

/* ---------- General transitions -----------  */
.bottom-animation {
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  -ms-transition: bottom 0.5s;
  -o-transition: bottom 0.5s;
  transition: bottom 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.kartlag-animation {
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.swiper-animation {
  -webkit-transition: bottom 0.5s, height 0.5s;
  -moz-transition: bottom 0.5s, height 0.5s;
  -ms-transition: bottom 0.5s, height 0.5s;
  -o-transition: bottom 0.5s, height 0.5s;
  transition: bottom 0.5s, height 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.height-animation {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.right-animation {
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 768px) {
  .kartlag-animation {
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ------------------------------------------------------ */
/* Selvbygget toggle-element - NOT USED FOR NOW - REMOVE? */
.toggle {
  margin: 10px;
  font-size: 10pt;
  text-align: center;
  color: gray;
}

.toggle span {
  padding: 5px;
}

.toggle .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

.toggle .switch input {
  /* Hide default HTML checkbox */
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .slider {
  border-radius: inherit;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid gray;
}

.toggle input:checked + .slider {
  border-color: black;
  background-color: black;
}

.toggle input:focus + .slider {
  box-shadow: 0 0 1px blue;
}

.toggle .slider:before {
  /* The toggle-ball */
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  top: 1px;
  background: gray;
}

.toggle input:checked + .slider:before {
  background-color: white;
  left: auto;
  right: 2px;
}
