/* Zoom-knappene */
.leaflet-top {
  top: auto;
  bottom: 20px;
  right: 10px;
  left: auto;
}

/* Kartvelgeren */
.change_map_buttons {
  padding: 5px;
  display: flex;
  position: absolute;
  left: 10px;
  bottom: 20px;
  z-index: 100;
  border-radius: 3px;
  border: 1px solid #9f9f9f;
}
.change_map_buttons.infobox-open {
  margin-left: 352px;
}
@media only screen and (max-width: 768px) {
  .change_map_buttons {
    margin-left: 0;
    top: auto;
    bottom: 20px;
    -webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
    -ms-transition: bottom 0.5s;
    -o-transition: bottom 0.5s;
    transition: bottom 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .change_map_buttons.side-bar-open {
    margin-left: 0;
    top: auto;
    bottom: calc(40vh + 20px);
    -webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
    -ms-transition: bottom 0.5s;
    -o-transition: bottom 0.5s;
    transition: bottom 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.change_map_icon,
.change_map_button {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.change_map_icon,
.change_map_button {
  border-radius: 3px;
  border: 1px solid #9f9f9f;
  background: #f4f4f4;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
  z-index: 1;
}
.change_map_icon:focus,
.change_map_button:focus {
  border: 2px solid blue;
}

.change_map_button {
  margin-left: 5px;
}

.change_map_button span {
  display: inline-block;
  width: 100%;
  background: white;
  overflow: hidden;
  font-size: 8pt;
}

.map_ref {
  position: absolute;
  background: #b3b3b3;
  font-size: 8pt;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  bottom: 0px;
  overflow: hidden;
  max-width: 100%;
  max-height: 17px;
  display: flex;
}
.map_ref.infobox-open {
  margin-left: 352px;
}
.map-active-format-text {
  margin-right: 3px;
}

@media only screen and (max-width: 768px) {
  .map_ref {
    margin-left: 0;
    top: auto;
    bottom: 0;
    -webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
    -ms-transition: bottom 0.5s;
    -o-transition: bottom 0.5s;
    transition: bottom 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .map_ref.side-bar-open {
    margin-left: 0;
    top: auto;
    bottom: 40vh;
    -webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
    -ms-transition: bottom 0.5s;
    -o-transition: bottom 0.5s;
    transition: bottom 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .map-active-format-text {
    display: none;
  }
}

/* Av/på markør-knappen */
.map_button {
  top: auto;
  position: absolute;
  bottom: 83px;
  left: auto;
  right: calc(408px + 6px);
  border-radius: 3px;
  margin: 5px;
  border: 1px solid #ccc;
  background: #f4f4f4;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .map_button {
    bottom: calc(50% + 83px);
    right: 16px;
  }
}

.map_button.active {
  background: black;
  color: white;
  border-color: white;
}

/* Skrur av knapper vi midlertidig ikke trenger
- knapp for å bytte mellom f.eks polygon/markør
- knapp for zoom til gps
*/
.currentlyhidden {
  display: none;
}

/* Marker buttons */
#marker-button-map,
#polygon-button-map {
  display: flex;
  justify-items: center;
  align-content: center;
  padding: 7px;
  width: 40px;
  height: 40px;
  margin: 2px 0 0 2px;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(95, 117, 128, 0.5);
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
#marker-button-map,
#polygon-button-map {
  padding: 7px;
}
/* #polygon-button-map {
  padding: 6px 7px 7px 7px;
} */
#marker-button-map.active,
#polygon-button-map.active {
  padding: 6px;
  border: 2px solid white;
  background: rgba(95, 117, 128, 1);
  color: rgba(255, 255, 255, 1);
}
#marker-button-map:hover:not(.active),
#polygon-button-map:hover:not(.active) {
  background: rgba(95, 117, 128, 0.75);
}
#marker-button-map:focus,
#polygon-button-map:focus {
  padding: 6px;
  border: 2px solid white;
}

/* #polygon-button-map {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
} */
