/** Firefox workaround for https://github.com/Leaflet/Leaflet/issues/4686 */

.leaflet-fade-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change: unset;
}

/* Kartets plassering */
.leaflet-container {
  background: #e2f4ff;
  position: absolute;
  left: 0;
  top: 0;
  /* width: calc(100% - 408px); */
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  .leaflet-container {
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }
}

.inactive_point {
  border-radius: 50%;
  background: rgba(150, 60, 60, 0.53);
}

.active_point {
  border-radius: 22%;
  background: rgba(255, 60, 60, 0.73);
  font-weight: bold;
}

.leaflet-control-attribution.side-bar-open {
  margin-right: 0px;
}

@media only screen and (max-width: 768px) {
  .marker_type_button_container {
    margin-top: 50px;
    margin-left: 0;
  }
  .leaflet-control-zoom.side-bar-open {
    margin-bottom: 45vh;
    margin-right: 10px;
  }
  .leaflet-control-attribution.side-bar-open {
    margin-bottom: 45vh;
    margin-right: 0;
  }
}
