.searchbar_container {
  position: fixed;
  margin-left: 8px;
  top: 8px;
  z-index: 200;
}

@media only screen and (max-width: 768px) {
  .searchbar_container {
    float: left;
    width: 100%;
    top: 0;
  }
}

.searchbar {
  position: relative;
  float: left;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  width: 392px;
  height: 48px;
}

.treffliste {
  width: 392px;
  _margin-left: 10px;
  margin-right: auto;
  display: block;
  z-index: 2;
  margin-top: -4px;
  padding-left: 0px;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: #fff;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  overflow: hidden;
  width: 392px;
  position: relative;
  top: -4px;
}

@media only screen and (max-width: 768px) {
  .treffliste,
  .searchbar {
    max-width: calc(100% - 60px);
  }
}

.treffliste.searchresultpage {
  position: absolute;
  background: #f0f0f0;
  width: 100%;
  margin: 0px;
  margin-top: 0px;
  height: calc(100vh - 90px);
  max-height: calc(100vh - 90px);
  overflow-y: auto;
  border: none;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .treffliste.searchresultpage {
    max-height: calc(50vh - 90px);
    max-width: 100%;
  }
}

.treffliste .searchbar_item {
  line-height: 24px;
  min-height: 24px;
  padding-top: 6px;
  padding-bottom: 7px;

  cursor: pointer;
  text-align: left;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #333;
  font-size: 13px;

  border-top: 1px solid #dadce0;
}

.treffliste .searchbar_item:first-child {
  border-top: 1px solid #eee;
}

.treffliste .searchbar_item:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.treffliste.searchresultpage .searchbar_item {
  padding-bottom: 5px;
  padding-top: 5px;
  border: 0;
  border-bottom: 1px solid #eeeeee;
  _background: #ffffff;
}

.treffliste li span {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.treffliste li::-moz-focus-inner {
  border: 0;
}

.treffliste.searchresultpage .searchbar_item:hover,
.treffliste.searchresultpage .searchbar_item:focus,
.treffliste li:hover,
.treffliste li:focus {
  background-color: rgba(0, 0, 0, 0.06);
  outline: none;
  cursor: pointer;
}

.treffliste .searchbar_item.search_all {
  padding-top: 5px;
  padding-bottom: 5px;
}

.search_all .itemname {
  font-size: 12pt;
}

.itemtype,
.itemnr {
  font-size: 8pt;
  color: grey;
}

.itemnr {
  text-align: right;
}

.searchbar_local_item_container span {
  font-size: 8pt;
}

.itemtype b,
.itemnr b {
  color: black;
  font-weight: 500;
}

.searchbar_item.infobutton {
  background: #c1c1c1;
}

/* Kartlagfanens treffliste -> søkebarens landingsside */

.kartlag_fanen .treffliste {
  max-width: 100%;
}

.kartlag_fanen .searchbar_item {
  background: white;
  border-left: 0px;
  border-right: 0px;
}

.kartlag_fanen .searchbar_item:first-child {
  border-top: 1px solid #808080;
}

.help_button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 31px;
  height: 31px;
}

.help-modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .help-modal-wrapper {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
  }
}

.help-modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #697f8a;
  color: white;
  font-size: 26px;
  font-weight: bold;
  padding: 18px 25px;
}

@media only screen and (max-width: 768px) {
  .help-modal-title {
    padding: 15px 20px;
    font-size: 24px;
  }
}

.close-modal-button {
  padding: 2px;
  display: flex;
  background-color: #697f8a;
  color: white;
  border: 2px solid white;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .close-modal-button {
    padding: 0;
  }
}

.close-modal-button:hover {
  padding: 2px;
  display: flex;
  background-color: #415762;
  color: white;
}

.close-modal-button:focus {
  background-color: #415762;
  border-color: blue;
}

.help-modal-content {
  padding: 24px;
}

@media only screen and (max-width: 768px) {
  .help-modal-content {
    padding: 15px 20px;
  }
}

.help-text-line-header {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 5px 0;
}
.help-text-empty {
  margin: 20px 0;
}
.help-text-line {
  font-size: 16px;
  margin: 2px 0;
}

-webkit-scrollbar,
-webkit-scrollbar {
  width: 6px;
}

webkit-scrollbar-thumb {
  background-color: #888;
}

webkit-scrollbar-track {
  background-color: #f0f0f0;
}
