.searchbar_container {
  position: absolute;
  height: 0px;
  overflow: visible;
  right: 0px;
  top: 0px;
  width: 408px;
  z-index: 200;
  background: lightgrey;
}

@media only screen and (max-width: 768px) {
  .searchbar_container {
    width: 100%;
    top: 50%;
  }
}

.searchbar {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: auto;
  width: 350px;
  background: white;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  height: 31px;
  border: 1px solid black;
}

.searchbar button {
  width: 50px;
  float: right;
  border: 0px;
  border-left: 1px solid black;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 12pt;
}

.searchbar .x {
  position: absolute;
  right: 50px;
  width: 30px;
  background: none;
  border: none;
  border-radius: 0px;
}

.searchbar .x:hover {
  background: grey;
}

.searchbar input {
  border: 0px;
  font-size: 12pt;
  float: left;
  width: 100%;
  padding-right: 15px;
  box-sizing: border-box;
  max-width: calc(100% - 60px);
}

.treffliste {
  width: 100%;
  width: 350px;
  margin-left: 10px;
  margin-right: auto;
  display: block;
  z-index: 2;
  margin-top: -4px;
  padding-left: 0px;
  max-height: 300px;
  border: 1px solid grey;
}

@media only screen and (max-width: 768px) {
  .treffliste,
  .searchbar {
    max-width: calc(100% - 60px);
  }
}

.treffliste .searchbar_item {
  background: #eee;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0px;
  border: 1px solid grey;
  border-top: 0px;
}

.treffliste .searchbar_item:first-child {
  border-top: 1px solid #eee;
}

.treffliste .searchbar_item:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.treffliste li span {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.treffliste li::-moz-focus-inner {
  border: 0;
}

.treffliste li:hover,
.treffliste li:focus {
  background: black;
  color: white;
  /*outline: none;*/
  cursor: pointer;
}

.itemname {
  width: 100%;
  font-size: 10pt;
}

.itemtype,
.itemnr {
  font-size: 8pt;
  color: grey;
}

.itemnr {
  text-align: right;
}

.searchbar_local_item_container span {
  font-size: 8pt;
}

.itemtype b,
.itemnr b {
  color: black;
  font-weight: 500;
}

.searchbar_item.infobutton {
  background: #c1c1c1;
}

/* Kartlagfanens treffliste -> søkebarens landingsside */

.kartlag_fanen .treffliste {
  max-width: 100%;
}

.kartlag_fanen .searchbar_item {
  background: white;
  border-left: 0px;
  border-right: 0px;
}

.kartlag_fanen .searchbar_item:first-child {
  border-top: 1px solid #808080;
}

.help_button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 31px;
  height: 31px;
}
