.searchbar {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  z-index: 20;
  text-align: center;
  padding: 10px;
}

.treffliste {
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  display: block;
  max-width: 186px;
  min-height: 20px;
  border-radius: 3px;
}

.treffliste button {
  display: block;
  width: 100%;
}
