/* --------------------------------------------------------------------------------- */
/* ------------------------------- SETTINGS COMPONENT ------------------------------ */
/* --------------------------------------------------------------------------------- */

.settings-layers-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 250;
}
