@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Generell kode for applikasjonen */
.hidden-app-content {
  display: none;
}

div,
button {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  touch-action: none;
  color: #262f31;
  font-family: "Chivo", sans-serif;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

strong,
b {
  font-weight: 500;
}

button {
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px;
  background: white;
  border: 2px solid #005a71;
  color: #005a71;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px #005a71 inset;
  }
  &:active,
  &:focus {
    background: #fff1db;
    color: white;
  }

  &:focus-visible {
    outline: 2px solid blue;
  }
}

input,
select {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #808080;
}

.cookie-warning {
  background: #2f2f2f;
  position: absolute;
  width: 100%;
  top: 60px;
  text-align: center;
  color: white;
  padding: 4px;
  z-index: 1000;
  max-width: 100%;
  overflow-y: scroll;
  max-height: calc(100% - 50px);
}

.normal-warning-buttons,
.normal-warning {
  display: flex;
  padding: 4px;
  justify-content: center;
}

@media only screen and (max-width: 435px) {
  .normal-warning {
    flex-direction: column;
  }
}

.normal-warning button {
  min-width: 60px;
  font-weight: bold;
  max-height: 50px;
}

.normal-warning .primary {
  background: #94cabd;
}

.normal-warning .secondary {
  background: #a4b1b7;
}

@media only screen and (min-width: 769px) {
  .cookie-warning {
    top: 115px;
    max-width: 250px;
    right: 0;
  }

  .cookie-warning-side-bar-open {
    max-width: 150px;
    right: 407px;
  }

  .cookie-warning-read-more {
    max-width: 400px;
    bottom: 0;
  }

  .normal-warning {
    flex-direction: column;
  }
}
.readmore-box {
  padding: 4px;
  background: #383636;
  margin: 4px;
  position: relative;
}

.close-button {
  position: absolute;
  right: 4px;
  top: 4px;
  color: white;
  border: none;
  background: transparent;
}
