/* Generell kode for applikasjonen */
div,
button {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  touch-action: none;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

strong,
b {
  font-weight: 500;
}

button {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
}

button:hover,
button.active:hover,
button.active:focus,
button.active {
  cursor: pointer;
  background: grey;
}

@media only screen and (max-width: 768px) {
  .hidden_in_fullscreen {
    display: none;
  }
}

/* Høyresidepanelet; altså kartlagfanen */
.right_panel {
  position: absolute;
  height: 100%;
  right: 0px;
  top: 0px;
  width: 408px;
  background-color: #eee;
  box-shadow: "0 0 20px rgba(0; 0; 0; 0.3)";
}

@media only screen and (max-width: 768px) {
  .right_panel {
    width: 100%;
    height: 50%;
    top: 50%;
  }
}

.scroll_area {
  max-height: calc(100% - 56px);
  overflow-y: auto;
  width: 100%;
}

.container_header {
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid grey;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
}

.expand_header {
  float: left;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.expand_header button {
  margin: auto;
}

/* Kartvelgeren */
.change_map_button {
  padding: 0px;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  bottom: 20px;
  background: grey;
}

.change_map_button img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.change_map_text {
  position: absolute;
  top: 10%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

@media only screen and (max-width: 768px) {
  .change_map_button {
    bottom: calc(50% + 20px);
  }
}

.generic_element div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 500px;
}

.infotitle svg {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5px;
  height: 18px;
}

.coordinates {
  color: grey;
}
