/* Generell kode for applikasjonen */
div,
button {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  touch-action: none;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

strong,
b {
  font-weight: 500;
}

button {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
}

button:hover,
button.active:hover,
button.active:focus,
button.active {
  cursor: pointer;
  background: grey;
}

_input,
_select {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #808080;
}
